{% load static %}

<div class="col-12 col-md-6 col-xl-4">
    <div class="p-3 bg-light" style="box-shadow: 2px 2px 15px 2px gray; border-radius: 15px;">
        <img style="height: 250px" class="bd-placeholder-img card-img-top width-fluid" src="{{home.resim.url}}" title="{{home.name}}" alt="{{home.description}}">
        <div class="card-body">
            <h5 class="card-title text-success">{{home.name}}</h5>
            <p class="card-text" style="height: 100px; overflow: hidden;">{{home.description|safe}}</p>
            <p class="card-text"><small class="text-muted">{{ home.post_time }}</small></p>
            <a class="btn btn-outline-success" href="{% url 'details' home.slug %}">OKU</a>
        </div>
    </div>
</div>